@import "..//..//global/variable.scss"; 
* {
    box-sizing: border-box;
  }
  .display-center {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .paperStyle {
    padding: 10px 20px;
    margin: 20px auto;
    border-radius: 10px !important;
    width: auto;
    max-width: 380px;
    min-width: 100px;
  }
  
  .textStyle {
    color: $blue;
    font-size: 28px;
  }
  
  .textStyle2 {
    color: $red;
  }
  
  .textStyle3 {
    color: $orange;
  }
  
  .tfStyle {
    margin: $margin !important;
  }
  
  .typoStyle {
    margin: $margin !important;
  }
  
  .buttonStyle {
    margin: 15px 0px !important;
  }
  .error {
    color: $red !important;
    position: absolute !important;
  }
  
  .MuiFormHelperText-root {
    color: $red !important;
  }